* {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", sans-serif;
}

body {
  background-color: #efefef;
}

.header {
  background-color: #03A9F4;
  height: 100px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.menu-itm {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
}

.menu-itm a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  z-index: 5;
}

.menu-itm::before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.menu-itm:hover::before {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  border-radius: 15px;
  opacity: 1;
}

.t-but {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  \ display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.t-but span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #212121;
}

.t-but span::before, .t-but span::after {
  content: '';
  display: block;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.t-but span::before {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #212121;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.t-but span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #212121;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.t-but-active span {
  height: 0;
}

.t-but-active span::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.t-but-active span::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-hidden {
  position: absolute;
  background-color: #03A9F4;
  width: 100%;
  height: 200px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-hidden {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.m-h-item {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
}

.m-h-item:not(:first-child) {
  margin-top: 5px;
}

.m-h-item a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  z-index: 5;
}

.m-h-item::before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.m-h-item:hover::before {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  border-radius: 15px;
  opacity: 1;
}

.menu-bar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  background-color: #212121;
}

.menu-bar a {
  text-decoration: none;
  color: #fff;
}

.menu-bar-itm {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  text-align: center;
}

.menu-bar-itm:not(:last-child) {
  margin-right: 10px;
}

.menu-bar-itm::before, .menu-bar-itm::after {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.menu-bar-itm::before {
  content: '';
  position: absolute;
  background-color: #a80909;
  width: 0;
  height: 2px;
  -ms-align-self: center;
  align-self: flex-start;
  top: -5px;
}

.menu-bar-itm::after {
  content: '';
  position: absolute;
  background-color: #a80909;
  width: 0;
  height: 2px;
  -ms-align-self: center;
  align-self: flex-end;
  bottom: -5px;
}

.menu-bar-itm:hover::before, .menu-bar-itm:hover::after {
  width: 100%;
}

.label-cat {
  margin: 30px 0 20px 30px;
  text-transform: capitalize;
}

.anCard {
  background-color: #fff;
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 0 35px 20px 35px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 36px -6px rgba(33, 33, 33, 0.75);
  -moz-box-shadow: 10px 10px 36px -6px rgba(33, 33, 33, 0.75);
  box-shadow: 10px 10px 36px -6px rgba(33, 33, 33, 0.75);
  -webkit-transition: box-shadow 1s;
  -o-transition: box-shadow 1s;
  transition: box-shadow 1s;
}

.top-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 235px;
  -webkit-background-size: 100% 235px;
  background-size: 100% 235px;
}

.anCard:hover {
  -webkit-box-shadow: 17px 17px 50px -6px rgba(33, 33, 33, 0.75);
  -moz-box-shadow: 17px 17px 50px -6px rgba(33, 33, 33, 0.75);
  box-shadow: 17px 17px 50px -6px rgba(33, 33, 33, 0.75);
}

.anCard:hover .top-img {
  opacity: 0.6;
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  height: 100px;
}

.card-body {
  position: absolute;
  top: 300px;
}

.card-title {
  cursor: default;
  font-family: "Century Gothic Bold", sans-serif;
}

.card-price {
  margin: 20px 50px;
  background-color: #0288D1;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: default;
}

.card-price:hover {
  background-color: #03A9F4;
}

.card-desc {
  opacity: 0;
}

.anCard:hover .card-body {
  top: 135px;
}

.anCard:hover .card-desc {
  opacity: 1;
}

.card-desc, .card-price, .card-body, .top-img {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

footer, .social, .soc-itm {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
}

footer {
  height: 150px;
  background-color: #212121;
  margin-top: 50px;
  color: #fff;
}

.copyright a {
  color: #fff;
  text-decoration: underline;
}

.soc-itm {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-right: 20px;
  border-radius: 50%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.soc-itm:hover {
  -webkit-transform: scale(1.2, 1.2) rotate(380deg);
  -ms-transform: scale(1.2, 1.2) rotate(380deg);
  transform: scale(1.2, 1.2) rotate(380deg);
  -webkit-box-shadow: -5px -5px 30px -5px rgba(255, 255, 255, 1);
  -moz-box-shadow: -5px -5px 30px -5px rgba(255, 255, 255, 1);
  box-shadow: -5px -3px 5px -5px rgba(255, 255, 255, 1);
}

.social img {
  width: 24px;
  height: 24px;
}

.art {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.art-top {
  width: 50%;
  height: 450px;
  position: relative;
}

.art-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 20px 0;
  border-radius: 10px;
}

.art-side {
  position: relative;
  width: 50%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 50px;
}

.art-title, .art-description {
  margin-top: 30px;
}

.buy {
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-buy {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-title {
  color: #333;
  text-align: center;
  margin: 10px 0;
}

.form-buy form {
  margin: 5px auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.ret {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.art-price {
  margin: 30px 30% 0 30%;
  text-align: center;
}

@media only screen and (max-width: 1199px) {
  main .row {
    justify-content: center;
  }
}

@media only screen and (max-width: 991px) {
  .art {
    justify-content: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }

  .art-top {
    width: 60%;
  }

  .art-side {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .t-but {
    display: none;
  }
  .header-hidden, .menu-hidden, .m-h-item, .m-h-item a {
    display: none;
  }
}

@media only screen and (max-width: 769px) {
  .t-but {
    display: flex;
  }
  .menu-itm:not(:last-child) {
    display: none;
  }
  .menu {
    justify-content: flex-end;
  }
  .menu-bar {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .header-hidden {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    height: 0;
  }
  .menu-hidden, .m-h-item, .m-h-item a {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
  }

  .menu-bar {
    height: 200px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu-bar-itm {
    -ms-align-items: center;
    align-items: center;
    margin: 5px 0;
  }

  .menu-bar-itm::before {
    top: 0;
  }

  .menu-bar-itm::after {
    bottom: 0;
  }

  .art {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
  }

  .art-top {
    width: 80%;
  }

  .art-side {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .art-top {
    height: 235px;
  }

  .social img {
    width: 16px;
    height: 16px;
  }

  .soc-itm {
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }
}
